@using proyectoDeportiva.Areas.Identity.Data
@using proyectoDeportiva.Components;

@inject AuthenticationStateProvider _authenticationStateProvider
@inject UserManager<User> _userManager

<MudAppBar Elevation="4" Color="Color.Primary" Style="display:flex ;">
    <MudToolBar Style="display:flex;justify-content:space-between;width:100%">
        <div>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" @onclick="ToggleNavMenu" />
        </div>
        <div style="display: flex; align-items: center;">
        
            <MudText Typo="Typo.h6" Style="margin-left: 8px;">proyectoDeportiva</MudText>
        </div>
        <MudButton Href="/profile" style="display: flex; align-items: center; " Color="Color.Inherit">
            @if(currentUser != null)
            {
                <AvatarImage />
                <MudText Style="margin:10px">@currentUser.UserName</MudText>
            }

            

        </MudButton>
    </MudToolBar>
    
</MudAppBar>

@code {
    [Parameter]
    public Action ToggleNavMenu { get; set; }
    [Parameter]
    public User currentUser { get; set; }

   

    private void OnToggleNavMenu()
    {
        ToggleNavMenu?.Invoke();
    }
}