<MudAppBar Elevation="4" Color="Color.Primary" Style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <div>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" @onclick="ToggleNavMenu" />
    </div>
    <div style="display: flex; align-items: center;">
        
        <MudTypography Typo="Typo.h6" Style="margin-left: 8px;">proyectoDeportiva</MudTypography>
    </div>
    <div style="display: flex; align-items: center;">
        
        <MudAvatar Rounded="true" Color="Color.Surface">
            <MudIconButton Icon="@Icons.Material.Filled.Android" />
        </MudAvatar>
        Tu Perfil

    </div>
</MudAppBar>

@code {
    [Parameter]
    public Action ToggleNavMenu { get; set; }

    private void OnToggleNavMenu()
    {
        ToggleNavMenu?.Invoke();
    }
}