@page "/login"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@model proyectoDeportiva.Pages.LoginModel
@using Color = MudBlazor.Color



<!DOCTYPE html>
<html lang="en">
<head>
	<title>Iniciar sesión</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="container">
		<div class="row vh-100 justify-content-center align-items-center">
			<div class="col-6 bg-light p-5">
				
				<div class="d-flex justify-content-center">
					<h2 style="color: #594ae2">Inicio Sesión</h2>
				</div>
				<form method="post" asp-page="/login" class="login100-form validate-form">
					@Html.AntiForgeryToken()
				<div class="form-group validate-input m-b-26" data-validate="El email debe tener formato ejemplo@ejemplo.es">
                    <label for="email" class="label-input100">Email</label>
                    <input asp-for="Input.Email" class="form-control input100" type="text" name="email" id="email" autocomplete="email" placeholder="Introduzca el correo electrónico">
                </div>

				<br/>

                <div class="form-group validate-input m-b-18" data-validate="La contraseña es obligatoria">
                    <label for="password" class="label-input100">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control input100" type="password" name="password" id="password" autocomplete="current-password" placeholder="Introduzca la contraseña">                  
                </div>
				
				@*@Html.ValidationMessageFor(model => model.Input.Email, "", new { @class = "text-danger" })
				@Html.ValidationMessageFor(model => model.Input.Password, "", new { @class = "text-danger" })*@

				<br/>

				<div class = "text-danger">

					@foreach (var entry in ViewData.ModelState.Values)
						{
							foreach (var error in entry.Errors)
							{
					<p>@error.ErrorMessage</p>
							}
						}
				 </div>
					<div class="d-flex justify-content-between align-items-center mb-3">
						<div>
							<a href="#" class="text-primary">
								¿Has olvidado la contraseña?
							</a>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" style="background-color: #594ae2; border-color: #594ae2">
							Iniciar sesión
						</button>
					</div>
				</form>
				@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="~/js/main.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	


</body>
</html>