@page "/pistas"
@using proyectoDeportiva.Areas.Identity.Data
@using proyectoDeportiva.Data
@using proyectoDeportiva.Components
@using MudBlazor
@using System.Globalization

@inject ILogger<PistasPage> Logger

@inject ApplicationDbContext _ApplicationDbContext

@if (pistas != null && pistas.Any())
{
    <MudContainer>
        <MudPaper Style="padding:10px;width:95%; margin:auto;max-width:1000px">
            <h3 class="mb-4">Todas las Pistas</h3>

                @foreach (var pista in pistas)
                {
                  
                        <PistaCard Pista="pista" />
                   
                    
                }

        </MudPaper>
    </MudContainer>
}
else
{
    <p>No hay pistas disponibles.</p>
}
@code {
    List<Reserva> reservas;
    List<Pista> pistas;
    bool isReservaDialogVisible = false;
    Pista pistaSeleccionada;
    DateTime horaInicio;
    DateTime horaFin;
    Dictionary<int, string> horaSeleccionada = new Dictionary<int, string>();


    protected override async Task OnInitializedAsync()
    {
        bool bucle = true;
        while (bucle)
        {
            try
            {
                reservas = _ApplicationDbContext.Reservas.ToList();
                pistas = _ApplicationDbContext.Pistas.ToList();
                foreach (var pista in pistas)
                {
                    horaSeleccionada[pista.Id] = pista.HorarioApertura.ToString("hh\\:mm") ?? string.Empty;
                }
                bucle = false;
            }catch(InvalidOperationException e)
            {
                await Task.Delay(100);
            }

        }
    }

    
}