@page "/users"

@using proyectoDeportiva.Areas.Identity.Data
@using proyectoDeportiva.Data

@inject ApplicationDbContext _ApplicationDbContext

<h3>UsersPage</h3>

<p></p>


@code {

	protected override void OnInitialized()
	{
		
	}
}
